body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.add-verifier {
  position: absolute;
  top: 20px;
  right: 20px;
}
.container {
  display: flex;
}

.nav2 {
  display: none;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100vh;

  color: #000000;
  padding-top: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.374);
  position: sticky;
  top: 0px;
  left: 0px;
}

.sidebar a {
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Content Styles */
.content {
  flex: 1;
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .add-verifier {
    position: absolute;
    top: 80px;
  }
  .sidebar {
    display: none;
  }
  .nav2 {
    display: flex;
  }
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-category {
  margin: 10px 10px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
  .nav2 {
    display: flex;
  }
}
