/* Reset some default styles */
/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(213, 213, 213);
}

body {
  font-family: "Arial", sans-serif;
}

.grid-container {
  /* display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
  overflow: hidden; */
  background-color: #0000005d;
}

.border-right {
  border-right: 1px solid #ddd;
  background-color: rgba(200, 200, 200, 0.4);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  gap: 2rem;
  padding: 1rem;
}

.modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  height: auto;
  width: 100%;
  overflow: visible;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #eee;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-close-icon {
  cursor: pointer;
}

.modal-body {
  padding: 1rem;
}

/* .profile-pic-container {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.profile-pic {
  /* border-radius: 50%; */
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.profile-details {
  padding: 1rem;
}

.detail-item {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.detail-label {
  font-weight: bold;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  margin-top: 1rem;
}

.accept-btn,
.reject-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accept-btn {
  background-color: #4caf50;
  color: #fff;
}

.reject-btn {
  background-color: #ff5733;
  color: #fff;
}

.img {
  height: 500px;
  width: 60%;
}


.card {
  box-shadow: 0px 0px 10px black;
  text-align: left;
  height: 550px;
  border-radius: 20px;
  width: 350px;
}

.techconnect-image {
  max-width: 100%;
  height: auto;
}


img {
  width: 100%;
  height: 350px;
  /* max-height: 200px; */
  /* object-fit:fill; */
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
}



@media screen and (max-width: 900px) {
  .head-container > nav {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .img {
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
  header > h1 {
    font-size: 20px;
  }
  header>h4{
    font-size: 10px;
  }
  .head-container {
    display: none;
  }
  .nav2 {
    display: flex;
  }
  .card{
    width: 300px;
  }
}




