<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/users.css" />

    <title>Tech Connect - users</title>
  </head>
  <body>
    <div class="container">
      <h1 class="role" data-aos="fade-down" data-aos-delay="100">Role</h1>

      <div class="row user-container">
        <a
          href="user/login"
          class="col-6 user-item"
          data-aos="flip-left"
          data-aos-delay="500"
          data-aos-duration="1000"
        >
          <h1 class="user-name">USER</h1>
          <img src="/images/user.png" class="user-img" alt="" />
        </a>

        <a
          class="col-6 user-item"
          data-aos="flip-left"
          data-aos-delay="500"
          data-aos-duration="1500"
          href="publisher/login"
        >
          <h1 class="user-name">PUBLISHER</h1>
          <img src="/images/publisher.png" class="user-img" alt="" />
        </a>
        <a
          class="col-lg-6 user-item"
          data-aos="flip-left"
          data-aos-delay="500"
          data-aos-duration="2000"
          href="verifier/login"
        >
          <h1 class="user-name">VERIFIER</h1>
          <img src="/images/verifier.png" class="user-img" alt="" />
        </a>
        <a
          class="col-lg-6 user-item"
          data-aos="flip-left"
          data-aos-delay="500"
          data-aos-duration="2500"
          href="admin/login"
        >
          <h1 class="user-name">ADMIN</h1>
          <img
            src="/images/admin.png"
            style="border-radius: 100%"
            class="user-img"
            alt=""
          />
        </a>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
