@import "./variables.css";

body {
  background-color: var(--bg);
  color: var(--primary);
}
a{
  text-decoration: none;
  color: var(--primary);
}

a:hover{
  color: antiquewhite;
}

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role {
  text-align: center;
  font-size: 55px;
  color: var(--primary);
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 900;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.user-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-item {
  width: 18rem;
  height: 10rem;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
 .user-img {
  width: 70px;
  height: 70px;
}

.user-name {
  font-size: 25px;
}

@media screen and (max-width: 900px) {
  .user-container {
    height: 50dvh;
    align-items: center;
  }
}
