<div class="sidebar col-md-3 shadow-lg">
    <h2 class="mb-4 text-secondary" style="font-family: 'Saira Stencil One', sans-serif;">ADMIN DASHBOARD</h2>
    <!-- <a href="#" class="list-group-item list-group-item-action">Profile</a> -->
    <a href="/admin/dashboard" class=" list-group-item-action"
      ><i
        class="bi bi-person fs-3 me-3"
        style="vertical-align: middle"
      ></i
      >Users</a
    >
    <a href="/admin/dashboard/publisher" class=" list-group-item-action"
      ><i
        class="bi bi-pencil-square fs-3 me-3"
        style="vertical-align: middle"
      ></i
      >Publishers</a
    >
    <a href="/admin/dashboard/verifier" class="list-group-item-action"
      ><i
        class="bi bi-check-circle fs-3 me-3"
        style="vertical-align: middle"
      ></i
      >Verifier</a
    >
    <a href="/admin/dashboard/post" class="list-group-item-action"
      ><i class="bi bi-send fs-3 me-3" style="vertical-align: middle"></i
      >Post</a
    >
    <a href="/admin/dashboard/community" class="list-group-item-action"
      ><i
        class="bi bi-building fs-3 me-3"
        style="vertical-align: middle"
      ></i
      >Community</a
    >
    <a href="/admin/dashboard/category" class="list-group-item-action"
    ><i
      class="bi bi-building fs-3 me-3"
      style="vertical-align: middle"
    ></i
    >Category</a
  >
    <a href="/admin/dashboard/logout" class="list-group-item-action"
      ><i
        class="bi bi-box-arrow-left fs-3 me-3"
        style="vertical-align: middle"
      ></i
      >Logout</a
    >
  </div>
  <nav
    class="nav2 navbar navbar-expand-lg bg bg-light shadow-sm bg-body-tertiary"
  >
    <div class="container-fluid">
      <h5 class="text-secondary" style="font-family: 'Saira Stencil One', sans-serif;">ADMIN DASHBOARD</h5>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="bi bi-list text-dark fs-1"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mt-3">
          <a href="/admin/dashboard" class="text-decoration-none list-group-item-action"
            ><i
              class="bi bi-person fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Users</a
          >
          <a href="/admin/dashboard/publisher" class="text-decoration-none list-group-item-action"
            ><i
              class="bi bi-pencil-square fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Publishers</a
          >
          <a href="/admin/dashboard/verifier" class="text-decoration-none list-group-item-action"
            ><i
              class="bi bi-check-circle fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Verifier</a
          >
          <a href="/admin/dashboard/post" class="text-decoration-none list-group-item-action"
            ><i
              class="bi bi-send fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Post</a
          >
          <a href="/admin/dashboard/community" class="text-decoration-none list-group-item-action"
            ><i
              class="bi bi-building fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Community</a
          >
          <a href="/admin/dashboard/logout" class="text-decoration-none list-group-item-action"
            ><i
              class="bi bi-box-arrow-left fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Logout</a
          >
        </ul>
      </div>
    </div>
  </nav>